<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="markdown.css"/>
    <title>Opener Webservices</title>
  </head>
  <body>
    <h1>Opener Webservices</h1>

    <p>The following webservices are available</p>
    <p>
    <ul>
      <% Opener::Basic::MODULES.each do |module_name| %>
        <li><a href="<%=url("/#{module_name.downcase}")%>"><%=module_name%></a></li>
      <% end %>
    </ul>

    <h2> Posting to the webservices</h2>
    <p> You can directly post to these webservices using the following endpoints </p>
    <ul>
      <% Opener::Basic::MODULES.each do |module_name| %>
        <li><%=url("/#{module_name.downcase}")%></li>
      <% end %>
    </ul>

  </body>
</html>

